{% extends 'base_layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bulma.css' %}">
    <link rel="stylesheet" href="{% static 'script.js' %}">
    <title>Title</title>
</head>
<body>
{% block content %}
    <div class="cvet" style="margin-top: 100px">


        <div class="box">
            <h1 class="title has-text-centered">{{ product.title }}</h1>
            <div class="" style="color: black;font-size: 25px;font-weight: bold;margin-left: 45px">{{ product.name }}</div>
            <br>
            <br>
            <div class="columns" style="margin-left: -110px">
                {% for image in images %}
                    <div id="pSlider" class="mt-3" style="width: 300px">
                        <ol id="slider-container" dir="ltr">
                            <a href="reklama.html">
                                <li class="li_slide">
                                    <img class="fotki" id="photo1" src="{{ image.image1.url }}"
                                                                width="450px" height="80px"
                                        alt="">
                                    <div class="slide-snapper"></div>
                                    <a class="prev_slide" href="#slide_4"></a> <a class="next_slide"
                                                                                  href="#slide_2"></a></li>
                            </a>
                            <li class="li_slide">
                                <img class="fotki" id="photo1" src="{{ image.image2.url }}"
                                     width="450px" height="80px"
                                     alt="">
                                <div class="slide-snapper"></div>
                                <a class="prev_slide" href="#slide_1"></a> <a class="next_slide" href="#slide_3"></a>
                            </li>
                            <li id="slide_3" class="li_slide">
                                <img class="fotki" id="photo1" src="{{ image.image3.url }}"
                                                                width="450px" height="80px"
                                        alt="">
                                <div class="slide-snapper"></div>
                                <a class="prev_slide" href="#slide_2"></a> <a class="next_slide" href="#slide_4"></a>
                            </li>
                            <li id="slide_4" class="li_slide">
                                <img class="fotki" id="photo1" src="{{ image.image4.url }}"
                                                                width="450px" height="80px"
                                        alt="">
                                <div class="slide-snapper"></div>
                                <a class="prev_slide" href="#slide_3"></a> <a class="next_slide" href="#slide_1"></a>
                            </li>
                        </ol>
                    </div>
                {% endfor %}
                <div class="column is-4">
                    <div class="" style="color: black;font-size: 25px;font-weight: bold">О товаре</div>
                    <div class="mt-3" style="color: black;font-weight: bold;font-size: 15px">Дополнитльная информация
                    </div>
                    <div class="mt-1 has-text-grey" style="font-size: 14px">Бренд
                        ----------------------------------- {{ product.brand }}</div>
                    <div class="mt-1 has-text-grey" style="font-size: 14px">Размер
                        ----------------------------------- {{ product.size }}
                    </div>
                    <div class="mt-1 has-text-grey" style="font-size: 14px">Цвет
                        ----------------------------------- {{ product.color }}
                    </div>
                    <div class="mt-1 has-text-grey" style="font-size: 14px">Пол
                        ----------------------------------- {{ product.gender }}
                    </div>
                    <div class="mt-1 has-text-grey" style="font-size: 14px">Произведено
                        ----------------------------------- {{ product.created }}</div>
                    <div class="mt-4" style="font-weight: bold;color: black">Описание</div>
                    <div class="mt-1 has-text-grey" style="font-size: 14px">{{ product.description }}</div>
                </div>
                <div class="column is-3 ml-6">
                    <div class="box mt-2 has-background-info">
                        <span style="color: black;font-weight: bold;font-size: 15px">от</span><span
                            style="color: black;font-weight: bold;font-size: 30px;margin-left: 10px">{{ product.price }} сум</span>
                        {% if user.is_authenticated %}
                            {% if user.profile %}
                                <div class="box mt-2"
                                     style="background: rgb(86, 128, 233);display: flex;justify-content: center;color: white;border-radius: 10px;font-weight: bold">
                                    <a href="{% url 'shop:home' %}?product={{ product.pk }}" class="order"
                                       style="color: white">Добавить
                                        в корзину</a></div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
{% endblock %}
</body>
</html>