.cvet1 {
    background: rgb(86, 128, 233);
    background: linear-gradient(0deg, rgb(40, 43, 52) 10%, rgb(203, 55, 72) 74%);
}
.container-slide {
   max-width: 100% !important;
   height: 500px;
   overflow: hidden;
   margin: 0;
   border-radius: 10px;

}
.slider-img {
   width: 100%;
   height: 500px;
   object-fit: cover;
}

.image{
    width: 500px;
    height: 450px;
}

.li_slide {
    background-size: cover;
    background-position: center;
}

/* Animations */
@keyframes tonext {
    75% {
        margin-left: 0;
    }
    95% {
        margin-left: calc(100% + 150px);
    }
    98% {
        margin-left: calc(100% + 150px);
    }
    99% {
        margin-left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: start;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: start;
    }
}

@keyframes tostart {
    75% {
        margin-left: 0;
    }
    95% {
        margin-left: calc(-300% - 450px);
    }
    98% {
        margin-left: calc(-300% - 450px);
    }
    99% {
        margin-left: 0;
    }
}

/* Reset */
ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#pSlider {
    width: 1450px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    /* Left, Right Navigation Arrows */
}

#pSlider #slider-container {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

#pSlider #slider-container .li_slide {
    position: relative;
    width: 100%;
    border-radius: 10px;

    flex: none;
    margin-right: 150px;
}

#pSlider #slider-container .li_slide:nth-child(even) {

}

#pSlider #slider-container .li_slide:last-child {
    margin-right: 0;
}

#pSlider #slider-container .li_slide .slide-snapper {
    /* Auto play */
    scroll-snap-align: start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: tonext 4s infinite ease, snap 4s infinite ease;
}

@media (prefers-reduced-motion: reduce) {
    #pSlider #slider-container .li_slide .slide-snapper {
        animation-name: none;
    }
}

#pSlider #slider-container .li_slide:last-child .slide-snapper {
    animation-name: tostart, snap;
}

#pSlider #slider-container:hover .li_slide .slide-snapper, #pSlider #slider-container:focus-within .li_slide .slide-snapper {
    animation-name: none;
}

#pSlider:before, #pSlider:after, #pSlider .prev_slide, #pSlider .next_slide {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}

#pSlider:before, #pSlider:after {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

#pSlider .next_slide {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

#pSlider .prev_slide {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px;
}

#pSlider:before, #pSlider .prev_slide {
    content: "";
    left: 0px;
}

#pSlider:after, #pSlider .next_slide {
    content: "";
    right: 0px;
}





/* Scrollbar */
#pSlider #slider-container::-webkit-scrollbar {
    display: none;
    height: 5px;
}

































